{% extends 'layout/layout.html' %}

{% block content %}
    {% block titulo %}
        <div class="bg-light lter b-b wrapper-md col-md-12">
            <h1 class="m-n font-thin h3">{{ titulo }}</h1>
        </div>
    {% endblock %}

    {% block breadcrumbs %}
        {{ block.super }}
    {% endblock %}

    <div class="wrapper-md">
        <div class="well m-t bg-light lt">
            <div class="row">
                <div class="col-xs-6">
                    <h4>{{ cliente.nombre }}</h4>
                    <p>
                        <strong>RUC: </strong>{{ cliente.ruc }}<br><br>
                        <strong>Dirección: </strong>{{  cliente.direccion }}<br>
                    </p>
                </div>
                <div class="col-xs-6">
                    <h4>&nbsp;</h4>
                    <p>
                        <strong>Correo: </strong>{{ cliente.correo }}<br><br>
                        <strong>Teléfono: </strong>{{ cliente.telefono }}<br><br>
                        <strong>País: </strong>{{ cliente.pais }}<br><br>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {% if perms.proyecto.add_proyecto or perms.proyecto.change_proyecto or perms.proyecto.delete_proyecto %}
                        <a href="{% url 'cliente:reporte_cliente' cliente.id%}">
                            <button class="btn m-b-xs btn-default btn-addon ">
                                <i class="fa fa-file-pdf-o"></i>
                                Reporte
                            </button>
                        </a>
                    {% endif %}
                    {% if perms.proyecto.change_cliente %}
                        <a href="{% url 'cliente:editar' cliente.id %}">
                            <button class="btn m-b-xs btn-default btn-addon ">
                                <i class="fa fa-pencil"></i>
                                Editar
                            </button>
                        </a>
                    {% endif %}
                    {% if perms.proyecto.delete_cliente %}
                        <a href="{% url 'cliente:eliminar' cliente.id %}">
                            <button class="btn m-b-xs btn-danger btn-addon ">
                                <i class="fa fa-trash"></i>
                                Eliminar
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
