{% extends 'layout/layout.html' %}
{% load static %}
{% load guardian_tags %}

{% block content %}
    {% block titulo %}
        <div class="bg-light lter b-b wrapper-md col-md-12">
            <h1 class="m-n font-thin h3">{{ titulo }}</h1>
        </div>
    {% endblock %}

    {% block breadcrumbs %}
        {{ block.super }}
    {% endblock %}

    <div class="wrapper-md">
        <div class="well m-t bg-light lt">
            <div class="row">
                <div class="col-xs-4">
                    <h4>{{ usp.us.nombre }}</h4>
                    <strong>Encargado: </strong> {{ usp.asignee.miembro.user.username }} ({{ usp.asignee.miembro.user.get_full_name }}) <br><br>
                    <strong>Tiempo Planificado: </strong> {{ usp.tiempo_planificado_sprint }} hora{% if usp.tiempo_planificado_sprint != 1 %}s{% endif %} para este sprint <br>
                    <strong>Tiempo Ejecutado: </strong> {{ usp.get_tiempo_ejecutado }} hora{% if usp.get_tiempo_ejecutado != 1 %}s{% endif %} en este sprint <br> <br>
                    <strong>Priorización: </strong> {{ usp.us.get_priorizacion | floatformat:2 }} <br> <br>
                </div>
                <div class="col-xs-6">
                    <h4>&nbsp;</h4>
                    <strong>Estado en el Proyecto: </strong> {{ usp.us.get_estadoProyecto_display }} <br><br>
                    <strong>Flujo: </strong> {{ usp.us.flujo.nombre | default_if_none:"" }} <br>
                    <strong>Fase: </strong> {{ usp.fase_sprint.nombre | default_if_none:"" }} <br>
                    <strong>Estado en la Fase: </strong> {{ usp.get_estado_fase_sprint_display | default_if_none:"" }} <br> <br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="{% url 'proyecto_sprint_tablero' usp.us.proyecto.id usp.sprint.id usp.us.flujo.id %}">
                        <button class="btn m-b-xs btn-default btn-addon ">
                            <i class="fa fa-table"></i> Tablero Kanban
                        </button>
                    </a>

                    <a href="{% url 'actividad_list' usp.us.proyecto.id usp.sprint.id usp.id %}">
                        <button class="btn m-b-xs btn-default btn-addon ">
                            <i class="fa fa-list"></i> Actividades
                        </button>
                    </a>
                    {% if puedeEditar %}
                        {% if usp.sprint.estado != 'CERRADO' %}
                            <a href="{% url 'usp_editar' usp.us.proyecto.id usp.sprint.id usp.id %}">
                                <button class="btn m-b-xs btn-default btn-addon ">
                                    <i class="fa fa-pencil"></i> Editar
                                </button>
                            </a>
                        {% endif %}
                        {% if usp.sprint.estado == 'PLANIFICADO' %}
                            <form
                                action="{% url 'sprint_us_eliminar' usp.us.proyecto.id usp.sprint.id usp.id %}"
                                method="post" style="display: inline-block"
                            >
                                {% csrf_token %}
                                <button class="btn m-b-xs btn-danger btn-addon ">
                                    <i class="fa fa-trash"></i> Quitar del Sprint
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}

                    <a href="{% url 'proyecto_us_ver' usp.us.proyecto.id usp.us.id %}"
                    title="Ver el US a nivel del proyecto">
                        <button class="btn m-b-xs btn-default btn-addon ">
                            <i class="fa fa-eye"></i> Ver US
                        </button>
                    </a>

                    {% get_obj_perms request.user for usp.sprint.proyecto as "permisosGuardian" %}
                    <!-- SI EL USER STORY ESTA EN REVISION Y TIENE PERMISO PARA ADMINISTRAR SPRINT -->
                    {% if usp.us.estadoProyecto == 6 and 'administrar_sprint' in permisosGuardian %}
                        <div class="row">
                        <div class="col-xs-12">
                            <form
                                action="{% url 'sprint_us_aprobar' usp.us.proyecto.id usp.sprint.id usp.id %}"
                                method="post" style="display: inline-block"
                            >
                                {% csrf_token %}
                                <button class="btn m-b-xs btn-success btn-addon ">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>Aprobar
                                </button>
                            </form>

                            <a href="{% url 'sprint_us_rechazar' usp.us.proyecto.id usp.sprint.id usp.id %}">
                                <button class="btn m-b-xs btn-danger btn-addon ">
                                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>Rechazar
                                </button>
                            </a>
                        </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
