{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}
    {% block titulo %}
        <div class="bg-light lter b-b wrapper-md col-md-12">
            <h1 class="m-n font-thin h3">{{ titulo }}</h1>
        </div>
    {% endblock %}

    {% block breadcrumbs %}
        {{ block.super }}
    {% endblock %}

    <div class="wrapper-md">
        <div class="well m-t bg-light lt">
            <div class="row">

                <div class="col-xs-4">
                    <h4>{{ us.nombre }}</h4>
                    <div>
                        <strong>Prioridad: </strong> {{ us.get_prioridad_display }} <br>
                        <strong>Valor Técnico: </strong> {{ us.get_valorTecnico_display }} <br>
                        <strong>Valor de Negocio: </strong> {{ us.get_valorNegocio_display }} <br>
                        <strong>Priorización: </strong> {{ us.get_priorizacion | floatformat:2 }} <br>
                    </div>
                    <br>
                    <div>
                        <strong>Tipo: </strong> {{ us.tipo.nombre }} <br>
                        {% for nombre_campo, valor_campo in us.valoresCPs.items %}
                            <strong>{{ nombre_campo }}: </strong> {{ valor_campo | default_if_none:"" }} <br>
                        {% empty %}
                            <i>Sin Campos Personalizados</i> <br>
                        {% endfor %}
                    </div>
                    <br>
                    <div>
                        <strong>Estado General: </strong> {{ us.get_estadoProyecto_display }} <br>
                        {% if us.estadoProyecto == 4 %}
                            <label><i>Justificación de la cancelación:</i></label>
                            <textarea style="resize: vertical" readonly class="form-control" rows="4">{{ us.justificacion|default_if_none:"" }}</textarea>
                        {% endif %}
                        {% if us.estadoProyecto == 2 or us.estadoProyecto == 3 %}
                            <strong>Flujo: </strong> {{ us.flujo.nombre | default_if_none:"" }} <br>
                            <strong>Fase: </strong> {{ us.fase.nombre | default_if_none:"" }} <br>
                            <strong>Estado en la Fase: </strong> {{ us.get_estadoFase_display | default_if_none:"" }} <br>
                        {% endif %}
                    </div>
                    <br>
                    <div>
                        <strong>Tiempo Planificado: </strong> {{ us.tiempoPlanificado }} hora{% if us.tiempoPlanificado != 1 %}s{% endif %} <br>
                        <strong>Tiempo Ejecutado: </strong> {{ us.tiempoEjecutado }} hora{% if us.tiempoEjecutado != 1 %}s{% endif %} <br>
                    </div>
                    <br>
                </div>

                <div class="col-xs-6">
                    <h4>&nbsp;</h4>
                    <div class="form-group">
                        <label><strong>Descripción</strong></label>
                        <textarea readonly class="form-control" rows="4" style="resize: vertical;">{{ us.descripcion }}</textarea>
                    </div>
                    <div class="form-group">
                        <label><strong>Criterios de Aceptación</strong></label>
                        <textarea readonly class="form-control" rows="4" style="resize: vertical;">{{ us.criteriosAceptacion }}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {% if puedeEditar %}
                        <a href="{% url 'proyecto_us_editar' us.proyecto.id us.id %}">
                            <button class="btn m-b-xs btn-default btn-addon ">
                                <i class="fa fa-pencil"></i>
                                Editar
                            </button>
                        </a>
                        <a href="{% url 'proyecto_us_cancelar' us.proyecto.id us.id %}">
                            <button class="btn m-b-xs btn-default btn-addon ">
                                <i class="fa fa-times"></i>
                                Cancelar el US
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
