{% extends 'layout/layout.html' %}
{% load static %}
{% load guardian_tags %}
{% block content %}
    {% block titulo %}
        <div class="bg-light lter b-b wrapper-md col-md-12">
            <h1 class="m-n font-thin h3">{{ titulo }}</h1>
        </div>
    {% endblock %}

    {% block breadcrumbs %}
        {{ block.super }}
    {% endblock %}
    <div class="wrapper-md">
        <div class="well m-t bg-light lt">

        <div class='row'>
            <h2>Proyecto : {{ proyecto.nombre }}</h2>
            <div id="chart"></div>
        </div>
        </div>
    </div>
{% endblock %}
{% block extracss %}
    <link href="{% static 'css/c3.css' %}" rel="stylesheet">
{% endblock %}
{% block extrajs %}
    <script src="{% static 'js/d3-5.8.2.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/c3.min.js' %}"></script>
    <script>
    var chart = c3.generate({
    bindto: '#chart',
    data: {
        xs: {
            'real': 'x1',
            'ideal': 'x2',
        },
        columns: [
            ['x1', {{ grafica.datos_en_x | join:" , " }}],
            ['x2', {{ grafica.ideal_x | join:" , " }}],
            ['real', {{ grafica.datos_en_y | join:" , " }}],
            ['ideal', {{ grafica.ideal_y | join:" , " }}]
        ]

    },
        axis: {
        y: {
            max: {{ total }},
            min: 0,
            label: 'Trabajo Pendiente(Horas)'
            // Range includes padding, set 0 if no padding needed
            // padding: {top:0, bottom:0}
        },
            x: {
            label: 'Sprint Nro'
        }

    }
});
    </script>
{% endblock %}