<!-- aside -->
  <aside id="aside" class="app-aside hidden-xs bg-dark">
      <div class="aside-wrap">
        <div class="navi-wrap">

            {% block nav %}
              <!-- nav -->
              <nav ui-nav class="navi clearfix">
                <ul class="nav">
                    {% block aside-menu %}
                        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                            <span>Apps</span>
                        </li>
                        

                        <li>
                            <a href={%url 'proyectos'%}>
                              <i class="glyphicon glyphicon-th-list icon text-info-lter"></i>
                              <span class="font-bold">Proyectos</span>
                            </a>
                        </li>


                        {% if perms.proyecto.add_usuario or perms.proyecto.change_usuario or perms.proyecto.delete_usuario %}
                            <li>
                                <a href="{% url 'usuario:lista' %}">
                                  <i class="glyphicon glyphicon-user icon text-info-lter"></i>
                                  <span class="font-bold">Usuarios</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if perms.proyecto.add_roladministrativo or perms.proyecto.change_roladministrativo or perms.proyecto.delete_roladministrativo %}
                            <li>
                                <a href={% url 'rol_sistema:lista' %}>
                                  <i class="glyphicon glyphicon-briefcase icon text-info-lter"></i>
                                  <span class="font-bold">Roles Administrativos</span>
                                </a>
                            </li>
                        {% endif %}

                        {% if perms.proyecto.add_cliente or perms.proyecto.change_cliente or perms.proyecto.delete_cliente %}
                            <li>
                                <a href="{% url 'cliente:lista' %}">
                                    <i class="fa fa-users icon text-info-lter"></i>
                                    <span class="font-bold">Clientes</span>
                                </a>
                            </li>
                        {% endif %}

                  {% endblock %}

                </ul>
              </nav>
              <!-- nav -->
            {% endblock %}


        {% block aside-footer %}
            <!-- aside footer -->
              <div class="wrapper m-t">
                <div class="text-center-folded">
                  <span class="pull-right pull-none-folded"></span>
                  <span class="hidden-folded"></span>
                </div>
              </div>
            <!-- / aside footer -->
        {% endblock %}

        </div>
      </div>
  </aside>
<!-- / aside -->