<!-- header -->
<header id="header" class="app-header navbar" role="menu">
    {% block navbar-header %}
      <!-- navbar header -->
      <div class="navbar-header bg-dark">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
          <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside">
          <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="/" class="navbar-brand text-lt">
          <i class="fa fa-code-fork"></i>
          <span class="hidden-folded m-l-xs">PoliRedmine</span>
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->
    {% endblock %}

    {% block navbar-collapse %}
        <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
          <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" target=".app">
            <i class="fa fa-dedent fa-fw text"></i>
            <i class="fa fa-indent fa-fw text-active"></i>
          </a>
        </div>
        <!-- / buttons -->

      {% block navbar-right %}
          <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">

        {% block navbar-user %}

          <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
              <span class="fa-stack fa-lg thumb-sm pull-right m-t-n-sm m-b-n-sm m-l-sm">
                  <i class="fa fa-circle-o fa-stack-2x"></i>
                  <i class="fa fa-user fa-stack-1x"></i>
              </span>
              <span class="hidden-sm hidden-md">{{ user }}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated-rapido fadeInRight w">
              <li>
                <a>Configuraciones</a>
              </li>
              <li>
                <a href="#">Perfil</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>

        {% endblock %}
        </ul>
          <!-- / navbar right -->
      {% endblock %}

      </div>
        <!-- / navbar collapse -->
    {% endblock %}


</header>
<!-- / header -->